* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body{
  background: #25283D;
}
header {
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  background: #25283D;
}


nav {
  display: flex;
  justify-content: space-between;
  padding: 2% 6%;
  align-items: center;
}

nav img {
  width: 70px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  display: inline-block;
  list-style: none;
  padding: 4px 12px 12px;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #A675A1;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul #active::after {
  content: '';
  width: 100%;
  height: 2px;
  background: #A675A1;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

nav .fas {
  display: none;
}
@media(max-width: 800px) {
  .text-box h1 {
    font-size: 20px;
  }
  .row{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #A675A1;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    z-index: 2;
    text-align: left;
    transition: 1s;
  }
  nav .fas {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
  }
  .nav-links ul {
    padding: 30px;
  }
}
footer {
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  background: #25283D;
}
footer nav p{
    color: white;
    cursor: pointer;
}
footer nav {
  display: flex;
  justify-content: center;
  padding: 2% 6%;
}

.campus{
  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 50px;
}

.campus-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus-col img{
  width: 100%;
  height: 100%;
}

.layer{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: 1s;
}
.layer:hover{
  background: #20243c91;
  cursor: pointer;
}
.layer h3{
  width: 100%;
  font-weight: 500;
  color:white;
  font-style: 26px;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: 1s;
}
.layer:hover h3{
  bottom: 49%;
  opacity: 1;
  text-transform: uppercase;
}

.row{
  display: flex;
  justify-content: space-between;
}