*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    background: #25283D;
}
  
header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    align-items: center;
}
 
nav img {
    width: 70px;
}
 
.nav-links {
    flex: 1;
    text-align: right;
}
 
.nav-links ul li {
    display: inline-block;
    list-style: none;
    padding: 4px 12px 12px;
}
 
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}
  
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #8F3985;
    display: block;
    margin: auto;
    transition: 0.5s;
}
  
.nav-links ul #active::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #8F3985;
    display: block;
    margin: auto;
    transition: 0.5s;
}
  
.nav-links ul li:hover::after {
    width: 100%;
}
  
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
.text-box h2 {
    padding-top: 40px;
}
  
.text-box p {
    font-size: 14px;
    margin: 10px 0 40px;
}

.text-box > img {
    min-width: 750px;
    min-width: 100%;
    max-width: 100%;
    height: 522.6px;
    border-style: none;
}
  
nav .fas {
    display: none;
}

nav .fas {
    display: none;
}
  
.abc {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
/* .content img{
    width: 80%;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
} */

.content {
    width: 85%;
    text-align: start;
    margin: auto;
}

.content p{
    color: #fff;
}
  

@media(max-width: 900px){
    .row{
      align-items: center;
      flex-direction: column;
    }
    .row .text{
      color:white;
      width: 100%;
      margin-left: 0;
      text-align: justify;
    }
  
    /* .content img{
      width: 100%;
      border-radius: 5px; 
    } */

    .content {
        width: 85%;
        text-align: start;
        margin: auto;
    }

    .content p{
        color: #fff;
    }
}
  
  @media(max-width: 800px) {
    .text-box h1 {
      font-size: 35px;
    }
    .nav-links ul li {
      display: block;
    }
    .nav-links {
      position: absolute;
      background: #8F3985;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      z-index: 2;
      text-align: left;
      transition: 1s;
    }
    nav .fas {
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
    }
    .nav-links ul {
      padding: 30px;
    }
    .row{
        align-items: center;
        flex-direction: column;
    }
    .row img{
        margin: 0 auto;
    }
    .row .text{
        color:white;
        width: 90%;
        margin-left: 0;
        text-align: justify;
    }

    .content {
        width: 85%;
        text-align: start;
        margin: auto;
    }

    .content p{
        color: #fff;
    }

}
footer {
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background: #25283D;
}
footer nav p{
    color: white;
    cursor: pointer;
}
footer nav {
    display: flex;
    justify-content: center;
    padding: 2% 6%;
}
  
.row{
    display: flex;
    justify-content: center;
    padding: 2% 6%;
}
.row img{
    width: 426px;
    height: 404px;
}
  
.text{
    color:white;
    flex-direction: column;
    margin-left: 30px;
    width: 1300px;
    text-align: justify;
}
  
.razdel h1 {
    color: #fff;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    margin-top: -15px;
    margin-bottom: -15px;
}
  
hr {
    margin: 20px;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1.5px solid #A675A1;
}

.buttonup {
    width:100px;
    height: 100px;
    padding:10px;
    position:fixed;
    bottom:20px;
    right:20px;
    cursor:pointer;
    opacity: 0.5;
}